body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    font-size: 1.5rem;
}



/* footer */


.f-info-links a{
    text-decoration: none;       /* remove decoration */ 
    color: #222222;
}


.f-info-links a:hover{
    text-decoration: underline;       /* add decoration when hover */
}

.f-info{
    text-align: center;
    display: flex;  /* To display all elements in a single row */
    flex-wrap: wrap; /* display is flex but want to display elements in different line */
    justify-content: center;
    height: 8rem;
    background-color: #ebebeb;
    align-items: space-evenly;
}



.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}






/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem; /* for margin */
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}


/* for align text with image  */
.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}


/* Card Effect */ 
.card-img-overlay{
    opacity: 0;
}

/* but when hover occurs on image ... image BG will change an we will undestand we will going to click on this image  */

.card-img-overlay:hover{
    opacity:0.3;
    background-color: white;
}


/* for new page */

/* set background color to buttton  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* for Edit page */

/* set background color to buttton  */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* for Show page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}


.show-card{
     padding-left: 0;  /* this will remove padding from left side */
    padding-right: 0;
}


/* map */ 
#map{
    height: 400px;
    width: 80vh;
}